/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Custom styles */

body {
  background-color: #ffffff;
  text-align: center;
  line-height: 1.5;
}
hr {
  width: 30%;
  text-align: center;
  border-top: 1px dotted;
  border-bottom: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

h1 {
  font-size: 70px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;

  margin-top: 40px;
  margin-bottom: 40px;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 42px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
section {
  margin-top: 30px;
}

.box1 {
  display: inline-block;
  background-color: #daf8d4;
  width: 200px;
  height: 200px;
  border: 30px solid #add8e6;
  outline: 10px solid black;
  box-shadow: 0 0 0 20px #ed7f80;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 20px;
}

p {
  display: inline-block;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.color1 {
  background-color: #daf8d4;
}
.color2 {
  background-color: #add8e6;
}
.color3 {
  background-color: black;
}
.color4 {
  background-color: #ed7f80;
}

.parent2 {
  display: inline-block;
  width: 600px;
  height: 122px;
  border: 1px solid black;
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parent3 {
  display: inline-block;
  width: 606px;
  height: 244px;
  border: 1px solid black;
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.parent4 {
  display: inline-block;
  width: 606px;
  height: 122px;
  border: 1px solid black;
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 60px;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
}

.box2 {
  display: inline-block;
  width: 180px;
  height: 100px;
  margin: 10px;
  background-color: darkgray;
}

.bordered {
  border: 1px solid black;
}

.floater {
  text-align: left;
}
.sidelined {
  display: block;
}
